<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ECommerceAutomationSuite">
    <test name="ECommerceTests">
        <classes>
            <class name="com.example.tests.LoginTest"/>
            <class name="com.example.tests.ProductSearchTest"/>
        </classes>
    </test>
</suite>
